[submodule "smhasher"]
	path = smhasher
	url = https://github.com/aappleby/smhasher.git
[submodule "json-parser"]
	path = json-parser
	url = git@github.com:plieven/json-parser.git
[submodule "xxHash"]
	path = xxHash
	url = https://github.com/Cyan4973/xxHash.git
